.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .home-image {
    width: 30%;
    height: auto;
    border-radius: 40px;
  }
  
  .home-text {
    padding: 20px;
    text-align: center;
  }
  